
<h3>Add a new link</h3>

<EditForm Model="@UserLink" OnValidSubmit="@HandleValidSubmit">
    <ul>
        <li>
            <label for="newlinktext">Text:</label>
            <InputText id="newlinktext" @bind-Value="UserLink.Text"/>
            <ValidationMessage For="@(()=>UserLink.Text)" />
        </li>
        <li>
            <label for="newlinkurl">URL:</label>
            <InputText id="newlinkurl" type="text" bind="@(UserLink.Url)" /></li>
        <li>
            <label for="newlinkimageurl">Image URL:</label>
            <input id="newlinkimageurl" type="text" bind="@(UserLink.ImageUrl)" /></li>
        <li>
            <label for="newlinkinvertcolors">Invert image colors:</label>
            <select id="newlinkinvertcolors" class="cleanSelect" bind="UserLink.InvertImageColors">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
        </li>
    </ul>
    <input type="submit" value="Add new link (1)" />
</EditForm>
<button @onclick="DoAddNewLink">Add new link</button>

@code {
    public UserLink UserLink { get; set; } = new UserLink();
    public bool RemoveMe { get; set; }

    public void HandleValidSubmit() {
        LogInfo();
    }

    public void DoAddNewLink() {
        LogInfo();
    }

    private void LogInfo() {
        Console.WriteLine($@"
Text: {UserLink.Text}
Url: {UserLink.Url}
ImageUrl: {UserLink.ImageUrl}
InvertImageColors: {UserLink.InvertImageColors}
");
    }
}
