<a class="userlink" href="@Url" target="_blank">
    <span class="@GetImageClassString()"><img src="@ImageUrl" alt="@ImageUrl" /></span>
    <span class="userlink-text">@Text</span>
</a>

@code {
    [Parameter]
    public string Text{ get; set; }
    [Parameter]
    public string Url { get; set; }
    [Parameter]
    public string ImageUrl { get; set; }
    [Parameter]
    public bool InvertImage { get; set; }

    string GetImageClassString() {
        var classstr = "userlink-image";
        if (InvertImage) {
            classstr += " invert";
        }
        return classstr;
    }
}
