<div class="userlink-container" hidden="@(UserLinkVM.Hidden)">
    <a class="userlink" href="@UserLinkVM.UserLink.Url" target="_blank">
        <div class="@GetImageClassString()"><img src="@UserLinkVM.UserLink.ImageUrl"
                                                 alt="@UserLinkVM.UserLink.ImageUrl" /></div>
        <div class="userlink-text">@UserLinkVM.UserLink.Text</div>
    </a>
</div>
@code {
    [Parameter]
    public UserLinkViewModel UserLinkVM { get; set; }

    string GetImageClassString() {
        var classstr = "userlink-image";
        if (UserLinkVM.UserLink.InvertImageColors) {
            classstr += " invert";
        }
        return classstr;
    }
}
