<div class="userlink-container">
    <a class="userlink" href="@UserLink.Url" target="_blank">
        <div class="@GetImageClassString()"><img src="@UserLink.ImageUrl" alt="@UserLink.ImageUrl" /></div>
        <div class="userlink-text">@UserLink.Text</div>
    </a>
</div>
@code {
    [Parameter]
    public IUserLink UserLink { get; set; }

    string GetImageClassString() {
        var classstr = "userlink-image";
        if (UserLink.InvertImageColors) {
            classstr += " invert";
        }
        return classstr;
    }
}
