<a class="userlink" href="@UserLink.Url" target="_blank">
    <span class="@GetImageClassString()"><img src="@UserLink.ImageUrl" alt="@UserLink.ImageUrl" /></span>
    <span class="userlink-text">@UserLink.Text</span>
</a>

@code {
    [Parameter]
    public IUserLink UserLink { get; set; }

    string GetImageClassString() {
        var classstr = "userlink-image";
        if (UserLink.InvertImageColors) {
            classstr += " invert";
        }
        return classstr;
    }
}
